.tableContainer table {
    width: 99%;

    border-radius: 5px;
    border: 1px solid var(--divider);
}

.tableContainer th {
    text-transform: uppercase;
    color: var(--subtext);

    font-weight: 700;
    font-size: 0.689rem;

    margin-bottom: 1rem;

    background: transparent;
    /* border: 0px; */
}

.tableBody { width: 100%}

/* .tableRow:first-of-type > td:first-of-type {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--divider);
    border-top-left-radius: 10px;
}

.tableRow:first-of-type > td:last-of-type {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: var(--divider);
    border-top-right-radius: 10px; 
}
 */
.tableRow {
    min-width: 0;
    margin-bottom: 1rem;

    /* border: 1px solid var(--divider); */

    cursor: pointer;

    transition: background 0.3s;
}

.tableRow:hover {
    background: #F1F1F1;
}

.tableRow > td {
    font-size: 0.8rem;
}

.tableRow > td:last-of-type {
    width: 1.5rem;
}
