.orderDashboardContainer {
    display: flex;
    flex-direction: column;

    height: 100vh;

    overflow-y: auto;
}

.orderDashboardContainer > header {
    height: 16.8vh;
}

.orderDashboardContainer > header > div {
    padding: 1.1rem 1.1rem 0.5rem 1.1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.orderDashboardContainer > header > div > div {
    display: flex;
}

.orderDashboardContainer > header > div h5 {
    font-weight: 700;

    margin: 0;
}

.orderDashboardContainer > main {
    position: relative;
    height: 83vh;

    padding: 5rem;

    overflow-y: scroll;
}

.gridButton {
    position: absolute;

    top: 1.7rem;
    right: 2.3rem;
}

.productListContainer {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.productListContainer>* {
    flex: 1 1 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.productListContainer > div:nth-child(1n) {
    margin-right: 1rem;
}

.productListContainer > div:nth-child(2n) {
    margin-right: 0rem;
}