.orderDashboardContainer {
    display: flex;
    flex-direction: column;

    height: 100vh;

    overflow-y: auto;
}

.orderDashboardContainer > header {
    height: 17vh;
}

.orderDashboardContainer > header > div {
    padding: 1.1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.orderDashboardContainer > header > div > div {
    display: flex;
}

.orderDashboardContainer > header > div h4 {
    font-weight: 700;

    margin: 0;
}

.orderDashboardContainer > main {
    position: relative;
    height: 83vh;

    padding: 5rem;

    overflow-y: auto;
}

.gridButton {
    position: absolute;

    top: 1.7rem;
    right: 2.3rem;
}

.productListContainer {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.productListContainer>* {
    flex: 1 1 48%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}