.wrapper h4 {
    margin-bottom: 1.2rem;
    font-weight: bold;
}

.container {
    padding: 2.1875rem;
}

.wrapper footer {
    padding: 1.1rem;

    border-top: 1px solid var(--divider);

    display: flex;
    justify-content: flex-end;
}