:root {
    --primary: #F6753B;
    --primaryDark: #fd5d12;
    --secondary: #BD5B2D;
    --secondaryDark: #db5415;

    --background: #FFF;
    --surface: #FFF;
    --error: #070714;

    --onPrimary: #FFF;
    --onSecondary: #FFF;
    --onBackground: #1b1b1b;
    --onSurface: #1b1b1b;
    --onError: #FFF;
    
    --subtext: #656565;
    --text: #1B1B1B;
    --divider: #D3D3D3;
}

.lightTheme {
    --primary: #F6753B;
    --primaryDark: #fd5d12;
    --secondary: #BD5B2D;
    --secondaryDark: #db5415;

    --background: #FFF;
    --surface: #FFF;
    --error: #070714;

    --onPrimary: #FFF;
    --onSecondary: #FFF;
    --onBackground: #1b1b1b;
    --onSurface: #1b1b1b;
    --onError: #FFF;
}

.darkTheme {
    --primary: #ee8757;
    --primaryDark: #F6753B;
    --secondary: #b4623c;
    --secondaryDark: #BD5B2D;

    --background: #151515;
    --surface: #1E1E1E;
    --error: #FFBF00;

    --onPrimary: #FFF;
    --onSecondary: #FFF;
    --onBackground: #FFF;
    --onSurface: #FFF;
    --onError: #1b1b1b;

    --divider: rgb(255, 255, 255, 0.15);
}

* {
    font-family: "Inter";
    /* color: var(--onBackground); */
}

.btn-solid {
    border: 0;
    border-radius: 5px;

    padding: 0rem 1.2rem;

    background: var(--primary);
    color: var(--onPrimary);
    font-weight: 500;

    min-height: 50px;

    transition: background 0.5s;
}

.btn-solid:hover {
    background: var(--secondary);
    color: var(--onSecondary);
}

.navLink {
    padding: 0.625rem;
    
    border-radius: 10px;
    margin-bottom: 0.4rem;

    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text);

    transition: border 0.5s;
    transition: color 0.3s;
}

.navLink:hover {
    background: transparent;
    
    border: 1px solid var(--secondary);

    color: var(--secondary);
}

.dashboardContainer {
    display: flex;

    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 9px;
}
  
::-webkit-scrollbar-track {
    background: var(--divider);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}