.ingredientDashboardContainer header {
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.1rem;

    border-bottom: 1px solid var(--divider);
}

.ingredientDashboardContainer h5 {
    font-weight: 700;
    margin: 0;
}

.ingredientContentContainer {
    position: relative;
    
    height: 90vh;

    padding: 5rem;

    overflow-y: auto;
    border-right: 9px solid var(--background);
}