.orderRegisterContainer header {
    height: 10vh;

    padding: 1rem;
}

.orderRegisterContainer header > h5 {
    font-weight: 700;
}

.orderRegisterContainer main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 90vh;

    padding: 2rem 7rem;
}

.orderRegisterContainer footer {
    display: flex;
}

.orderSummary {
    margin-bottom: 3rem;
}

.orderSummary > div {
    display: flex;
    justify-content: space-between;

    padding: 0.8rem;

    border: 1px solid var(--divider);
    border-radius: 5px;

    min-width: 24vw;

    margin: 0.5rem 0rem;
}

.orderSummary > div:last-of-type {
    font-weight: 700;
}

.configurationColumn {
    flex-grow: 1;
    width: 30vw;

    /* padding: 1rem; */

    /* border: 1px solid var(--divider);
    border-radius: 5px; */

    margin-bottom: 20px;
}

.configurationColumn > header {
    padding: 1rem;
    border: 1px solid var(--divider);
    border-radius: 5px;

    height: auto;
}

.configurationColumn h6 {
    font-weight: 700;
    margin: 0;
}

.configurationColumn > main {
    padding: 1rem;
    border: 1px solid var(--divider);
    border-radius: 5px;

    align-items: flex-start;

    height: auto;
}

.configurationColumn:first-of-type {
    border-right: 1px solid var(--divider);
}

.configurationColumn label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--subtext);
}

.configurationColumn select  {
    font-size: 0.875rem;
}